/**
* CSS
*
* @version 1.0
* @author Vaska
* @author Gregory Cadar
*/
* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 11px;
	font-family: Verdana;
	background: #fff;
}

body.section-1 { }
body.section-2 { }
body.section-3 { }

a:link { text-decoration: none; }
a:active { text-decoration: none; }
a:visited { text-decoration: none; color: #666; }
a:hover { text-decoration: underline; }

a img { border: none; }

#menu {
    width: 300px;
    padding-left: 30px;
    padding-top: 20px;
    overflow: auto;
    top: 0;
    bottom: 0;
	left: 0;
    position: fixed;
    height: 100%;
	background-color: #fff;
}

#menu ul {
	list-style: none;
	margin: 0 0 12px 0;
}

#menu ul li.section-title {
    margin-bottom: 7px;
}

#menu ul li.section-title a {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Didot;
    font-style: italic;
    color: #ff6666;
    width: 0;
    border-bottom: 2px dotted gray;
    padding-bottom: 6px;
    margin-bottom: 4px;
    text-decoration: none;
}

summary {
    text-transform: uppercase;
    font-size: 16px;
    font-family: Didot;
    font-style: italic;
    color: #ff6666;
    border-bottom: 2px dotted gray;
    padding-bottom: 6px;
    margin-bottom: 4px;
    text-decoration: none;
    display: inline;
}
summary::-webkit-details-marker {
  display: none
}

:focus {
    outline: -webkit-focus-ring-color auto 5px;
    outline-width: 0px;
}
summary a:hover, summary:hover  {
	text-decoration:none;
	cursor:pointer;
}

#menu ul li.section-title a:hover {
    text-decoration: none;
}

#menu ul li a {
    color: #89abe3;

}

#content {
    height: 100%;
    margin: 0 0 0 330px;
    top: 0;
}

.container {
    padding: 5px 5px 25px 5px;
}

#content > .container:first-child {
    margin-top: 75px;
}

#content p {
	 width: 500px;
	 margin-bottom: 9px;
	 font-size: 12px}

p {
    margin: 0 0 9px 0;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 16px; }
h4 { font-size: 12px; }

#img-container	{ margin: 0; padding: 0; }
#img-container p	{ width: 400px; margin: 0; padding: 0 0 12px 0; }

#once { clear: left; }

#footer {
    padding-left: 30px;
    position: absolute;
    bottom: 2em;
 }
