body {
  overflow-x: hidden;
  /*font-family: 'Merriweather Sans', sans-serif;*/
  font-family: 'Share' !important;
  color: white;
  background-color: #DBB9B8;
}

#bootstrap-override h1 {
  color: white
}

#bootstrap-override h2 {
  margin-top: 0px;
  color: white
}

#bootstrap-override h3 {
  color: white
}

h2 a {
    color: white;
}
#name{
  font-size: 80px;
  padding-left: 5%;
  padding-top: 6%;
}

@media (min-width:500px) {
  #name {
    font-size: 120px;
    padding-left: 10%;
    padding-top: 11%;
  }
}

#practices {
    font-size: 55px;
    padding-left: 5%;
}

@media (min-width:500px) {
  #practices {
    font-size: 80px;
    padding-left: 10%;
  }
}

#location {
  font-size: 36px;
  padding-left: 5%;
}

@media (min-width:500px) {
  #location {
    font-size: 53px;
    padding-left: 10%;
    line-height: 1.8em;
  }
}

#Landing {
  /*background-image: url("Images/Glitch_Landscape_Gif-2.gif");*/
  max-height: 100%;

  background-size: cover;

}

#scrollMenu {
	position:fixed;
	top:0px;
	width:100%;
  background: #DBB9B8;/*rgba(0, 0, 0, 0.6);*/
	z-index:9999;
	display: none;
  text-decoration: none;
  color: white;
  background-color: #DBB9B8;
}

#scrollMenu a {
  text-decoration: none;
}
.rightAlign {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 10%;
  text-decoration: none;
}

.leftAlign {
  text-align: left;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10%;
}

.rightAlign a {
  margin-left: 5%;
  text-decoration: none;
  color: white;
}

.thumbnail {
  max-height: 40px;
  text-align: left;
  padding-right: 29%;
}

a:hover {
  color: purple;
}

#Landing {
  background-color: #DBB9B8;
  /*background-image: url("Images/StreetPole6.png");*/
  /*background-image: url("Images/Glitch_Landscape-2-cropped.png");*/
  height: 100vh;
}

.aboutMe {
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.aboutMe:hover {
  opacity: 1;
}

h4 img {
  padding-top: 50px;
  padding-bottom: 50px;
  max-width: 300px;
}

h4 {
  font-size: 24pt;
}

p {
  font-size: 18pt;
}

.customContainer {
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
}

@media screen and (min-width:768px) {
  .customContainer {
    margin-left: 8.3%;
    margin-right: 8.3%;
    margin-top: 37px;
    }
  }

@media screen and (min-width:992px) {
  .customContainer {
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 37px;
    }
  }

.indent {
  padding-left: 8%;
  font-size: 24pt;
}

#bootstrap-override h3 {
  font-size: 24pt;
}

.carousel-caption {
  margin: 10px;
}

.left-half-col {
  padding-right: 2.5%;
}

@media (min-width:720px) {
  .left-half-col {
      padding-right: 5%;
    }
  }

.right-half-col {
  padding-left: 2.5%;
}

@media (min-width:720px) {
  .right-half-col {
      padding-left: 5%;
    }
  }

/*This line counteracts bootstrap's code which gives rows a margin of -15 on either side */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.row {
  padding-top: 2.5%
}

@media (min-width:720px) {
  .row {
      padding-top: 5%;
    }
  }

@media screen and (min-width:992px) {
  .row {
    padding-top: 5%;
    }
  }


/*jssor slider loading skin spin css*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes jssorl-009-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 051 css*/
.jssorb051 .i {position:absolute;cursor:pointer;}
.jssorb051 .i .b {fill:#fff;fill-opacity:0.5;}
.jssorb051 .i:hover .b {fill-opacity:.7;}
.jssorb051 .iav .b {fill-opacity: 1;}
.jssorb051 .i.idn {opacity:.3;}

/*jssor slider arrow skin 051 css*/
.jssora051 {display:block;position:absolute;cursor:pointer;}
.jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.jssora051:hover {opacity:.8;}
.jssora051.jssora051dn {opacity:.5;}
.jssora051.jssora051ds {opacity:.3;pointer-events:none;}

#bootstrap-override .col-xs-6 {
padding-left: 0 !important;
padding-right: 0 !important;
}

#bootstrap-override .img {
  padding-top: 2.5%;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    overflow-x:hidden;
  }

}
